<div id="organizadores" ng-controller="AreaSitePalestrantesController">
  <div style="margin-top:50px;" class="">
    <div class="text-center">
      <div class="row" >

        <div class="col-md-3">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante({
              nome: 'Daniel Vartanian',
              urlFoto: 'https://i.ibb.co/7tkKpfZX/daniel-vartanian.png',
              descricaoCurta: 'Universidade de São Paulo',
              resumoProfissional: 'Resumo profisional',
              listaRedesSociaisPalestrante: [{
                  ativo: true,
                  linkRedeSocial: 'https://orcid.org/0000-0001-7782-759X ',
                  logoSvgColor: 'https://static.even3.com/assets/company-logos/color/orcid.svg',
                  logoSvgPB: 'https://static.even3.com/assets/company-logos/pb/orcid-square.svg',
                  logoPng: ''
              }, {
                  ativo: true,
                  linkRedeSocial: 'https://scholar.google.com/citations?user=EYp2CJ4AAAAJ&hl=pt-BR',
                  logoSvgColor: '',
                  logoSvgPB: '',
                  logoPng: 'https://static.even3.com/company-logo/logo.clearbit.com/scholar.google.com'
              }, {
                  ativo: true,
                  linkRedeSocial: 'http://lattes.cnpq.br/3858825858568287 ',
                  logoSvgColor: 'https://static.even3.com/assets/company-logos/color/Lattes.svg',
                  logoSvgPB: 'https://static.even3.com/assets/company-logos/pb/lattes-square.svg',
                  logoPng: ''
              }]
            })">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/7tkKpfZX/daniel-vartanian.png">
            </div>
            <p>Daniel Vartanian</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/TDcJtvV1/david-lojudice.png">
            </div>
            <p>David Lojudice</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://sebfelolmos.github.io" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/nMgY7JZL/juan-nunez.png"></a>
            </div>
            <p>Juan Sebastián Felipe Olmos Núñez</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://www.linkedin.com/in/leandro-volpini-bernardes/" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/xSM3SLX0/leandro-bernardes.png"></a>
            </div>
            <p>Leandro Bernardes</p>
          </div>
        </div>

      </div>
      <div class="row" >

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0001-5059-3359" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/ZRV6KPJF/leticia-correa.png"></a>
            </div>
            <p>Letícia Correa</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0002-4927-4980" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/mrmtjfwB/lucas-moura.png"></a>
            </div>
            <p>Lucas de Almeida Moura</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0001-7666-8494" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/6R96xFN1/marcelo-maciel.png"></a>
            </div>
            <p>Marcelo Maciel</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0001-9216-3971" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/S7N3v8gv/murilo-silvestrini.png"></a>
            </div>
            <p>Murilo Mazzotti Silvestrini</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0002-8246-2393" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/cptbqBD/thiago-rossi.png"></a>
            </div>
            <p>Thiago Joel Angrizanes Rossi</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
