<div id="comite-cientifico" ng-controller="AreaSitePalestrantesController">
  <div style="margin-top:50px;" class="">
    <div class="text-center">

      <div class="row" >

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item23536601 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 23536601}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item23536601)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/7tkKpfZX/daniel-vartanian.png">
            </div>
            <p>Daniel Vartanian</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item23532581 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 23532581}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item23532581)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/TDcJtvV1/david-lojudice.png">
            </div>
            <p>David Lojudice</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item20830279 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 20830279}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item20830279)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/nMgY7JZL/juan-nunez.png">
            </div>
            <p>Juan Sebastián Felipe Olmos Núñez</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item23636155 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 23636155}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item23636155)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/xSM3SLX0/leandro-bernardes.png">
            </div>
            <p>Leandro Bernardes</p>
          </div>
        </div>

      </div>
      <div class="row" >

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item12500828 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 12500828}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item12500828)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/ZRV6KPJF/leticia-correa.png">
            </div>
            <p>Letícia Correa</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item9744353 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 9744353}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item9744353) ">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/mrmtjfwB/lucas-moura.png">
            </div>
            <p>Lucas de Almeida Moura</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item19517907 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 19517907}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item19517907)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/6JNkbRPF/marcelo-maciel.png">
            </div>
            <p>Marcelo Maciel</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item23614541 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 23614541}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item23614541)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/S7N3v8gv/murilo-silvestrini.png">
            </div>
            <p>Murilo Mazzotti Silvestrini</p>
          </div>
        </div>

      </div>
      <div class="row" >

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item4458407 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 4458407}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item4458407)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/cptbqBD/thiago-rossi.png">
            </div>
            <p>Thiago Joel Angrizanes Rossi</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
