<div id="organizadores" >
  <div style="margin-top:50px;" class="">
    <div class="text-center">

      <div class="row" >

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://danielvartan.com" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://danielvartan.github.io/abm-study-group-pres-6/images/daniel-vartanian.png"></a>
            </div>
            <p>Daniel Vartanian</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://www.linkedin.com/in/dlojudice/" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://danielvartan.github.io/abm-study-group-pres-6/images/david-lojudice.png"></a>
            </div>
            <p>David Lojudice Sobrinho</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0001-6278-2579" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://danielvartan.github.io/abm-study-group-pres-6/images/juan-nunez.png"></a>
            </div>
            <p>Juan Sebastián Felipe Olmos Núñez</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://www.linkedin.com/in/leandro-volpini-bernardes/" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://danielvartan.github.io/abm-study-group-pres-6/images/leandro-bernardes.png"></a>
            </div>
            <p>Leandro Volpini Bernardes</p>
          </div>
        </div>

      </div>
      <div class="row" >

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0001-5059-3359" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://danielvartan.github.io/abm-study-group-pres-6/images/leticia-correa.png"></a>
            </div>
            <p>Letícia Cristina Correa</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0002-4927-4980" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://danielvartan.github.io/abm-study-group-pres-6/images/lucas-moura.png"></a>
            </div>
            <p>Lucas de Almeida Moura</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0001-7666-8494" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://danielvartan.github.io/abm-study-group-pres-6/images/marcelo-maciel.png"></a>
            </div>
            <p>Marcelo Maciel</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0001-9216-3971" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://danielvartan.github.io/abm-study-group-pres-6/images/murilo-silvestrini.png"></a>
            </div>
            <p>Murilo Mazzotti Silvestrini</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0002-8246-2393" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://danielvartan.github.io/abm-study-group-pres-6/images/thiago-rossi.png"></a>
            </div>
            <p>Thiago Joel Angrizanes Rossi</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
