<div id="comite-cientifico" >
  <div style="margin-top:50px;" class="">
    <div class="text-center">

      <div class="row" >

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0002-4900-5609" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/scfwZ65/001.png"></a>
            </div>
            <p>Aline Martins de Carvalho</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0002-1545-8490" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/nq2SQdB3/001.png"></a>
            </div>
            <p>Bernardo Furtado</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="#" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/dw28S1Wk/placeholder.png"></a>
            </div>
            <p>Bruno Reis</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0001-6783-6695" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/xVRQ4pr/001.png"></a>
            </div>
            <p>Camilo Rodrigues</p>
          </div>
        </div>

      </div>
      <div class="row" >

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0003-2594-9186" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/wFM2kZyg/001.png"></a>
            </div>
            <p>Cristina Adams</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="#" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/dw28S1Wk/placeholder.png"></a>
            </div>
            <p>Danilo Fraga</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="#" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/dw28S1Wk/placeholder.png"></a>
            </div>
            <p>Fernando Fagundes</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0002-8897-1025" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/93HMJ7GB/001.png"></a>
            </div>
            <p>Grégoire van Havre</p>
          </div>
        </div>

      </div>
      <div class="row" >

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="#" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/dw28S1Wk/placeholder.png"></a>
            </div>
            <p>Jakson Aquino</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0001-5947-2617" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/qLP4xVLn/001.png"></a>
            </div>
            <p>Leandro Garcia</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3">
          <div class="nome-foto-palestrante" >
            <div class="avatar">
              <a href="https://orcid.org/0000-0002-2913-7874" target="_blank"><img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/NdTK3qqG/001.png"></a>
            </div>
            <p>Michel Alexandre da Silva</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
