<div id="palestrantes-hack" ng-controller="AreaSitePalestrantesController">
  <div style="margin-top:50px;" class="">
    <div class="text-center">

      <div class="row" >

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item8526680 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 8526680}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item8526680)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/scfwZ65/001.png">
            </div>
            <p>Aline Martins de Carvalho</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item1550956 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 1550956}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item1550956)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/33p7fkM/astolfo-gomes-de-mello-araujo.png">
            </div>
            <p>Astolfo Gomes de Mello Araujo</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item23625099 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 23625099}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item23625099)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/nq2SQdB3/001.png">
            </div>
            <p>Bernardo Furtado</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item23614400 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 23614400}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item23614400)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/RkGsnMv9/bill-rand.png">
            </div>
            <p>Bill Rand</p>
          </div>
        </div>

      </div>
      <div class="row" >

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item23625140 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 23625140}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item23625140)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/ynxR1mZY/cailin-o-connor.png">
            </div>
            <p>Cailin O'Connor</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item23614412 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 23614412}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item23614412)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/xVRQ4pr/001.png">
            </div>
            <p>Camilo Rodrigues</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item23625170 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 23625170}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item23625170)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/x8tQ1sr2/carlos-de-brito-pereira.png">
            </div>
            <p>Carlos de Brito Pereira</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item4082124 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 4082124}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item4082124)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/wFM2kZyg/001.png">
            </div>
            <p>Cristina Adams</p>
          </div>
        </div>

      </div>
      <div class="row" >

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item22698496 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 22698496}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item22698496)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/Kc6Cs0PC/flavia-mori-sarti.png">
            </div>
            <p>Flávia Mori Sarti</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item5982326 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 5982326}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item5982326)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/93HMJ7GB/001.png">
            </div>
            <p>Grégoire van Havre</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item6187990 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 6187990}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item6187990)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/qLP4xVLn/001.png">
            </div>
            <p>Leandro Garcia</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item23614559 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 23614559}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item23614559)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/GfKnkLnr/michael-barton.png">
            </div>
            <p>Michael Barton</p>
          </div>
        </div>

      </div>
      <div class="row" >

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item23625183 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 23625183}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item23625183)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/NdTK3qqG/001.png">
            </div>
            <p>Michel Alexandre da Silva</p>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 4==0"></div>
        <div class="col-md-3" ng-init="itemAreaSiteEvento = (areaSiteEvento | filter: {idAreaSiteEvento: 2596515})[0]; item23625215 = (itemAreaSiteEvento.jsonObj | filter: {idPessoa: 23625215}:true)[0]">
          <div class="nome-foto-palestrante" ng-click="abrirModalPalestrante(item23625215)">
            <div class="avatar">
              <img class="avatar img-circle" loading="lazy" src="https://i.ibb.co/5WPBTKTZ/steve-railsback.png">
            </div>
            <p>Steve Railsback</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
